<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.MediaPill">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 跨进程 SharedPreferences 桥：hook 端通过 ContentResolver 读取配置 -->
        <provider
            android:name=".config.RemotePrefProvider"
            android:authorities="com.clydeenke.mediapill.prefs"
            android:exported="true"
            android:directBootAware="true" />

    </application>

</manifest>
